<%- include('../layouts/header'); -%>
  <link href="/css/add_editpage.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h2>Employee Management System</h2>
    </header>
    <main>
      <h1 id="enterOTP">Enter Received OTP & New Password</h1>
      <form autocomplete="off" method="post" action="/resetPssword" class="passwordResetForm">
        <label class="paystubLable">Enter OTP: </label>
        <input autocomplete="false" id="otp" type="text" name="otp" class="paystubTextboxes"><br />

        <label class="paystubLable">Reset Password: </label>
        <input autocomplete="new-password" id="resetPassword" type="password" name="resetPassword"
          class="paystubTextboxes"><br />

            <div class="buttons" style="padding: 0 30%;">
              <button class="btnSubmit" id="submit"> Submit </button>
            </div>
      </form>

      <section class="errors">
        <% if(locals.error){ %>
          <div style="border-radius: 0 25px 0 25px;">
            <h4 style=" color: black; padding-top: 10px;">Errors</h4>
            <% if(locals.error){ %>
              <p style="color:maroon; text-align: center; ">
                * <%= error %>
              </p>
              <% } %>
          </div>
          <% } %>
      </section>

    </main>

    <%- include('../layouts/footer'); -%>