<%- include('../layouts/header'); -%>
  <link href="/css/add_editpage.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h2>Employee Management System</h2>
    </header>
    <main>
      <form autocomplete="off" method="post" action="/resetPssword" class="paystubForm">
        <label class="paystubLable">Enter OTP: </label>
        <input autocomplete="false" id="otp" type="text" name="otp" class="paystubTextboxes"><br />
        <label class="paystubLable">Reset Password: </label>
        <input autocomplete="new-password" id="resetPassword" type="password" name="resetPassword"
          class="paystubTextboxes"><br />
        <% if(locals.error){ %>
          <div class="loginError">
            <%= error%>
          </div>
          <% } %>
            <div class="buttons">
              <button class="btnSubmit" id="submit"> Submit </button>
            </div>
      </form>
    </main>

    <%- include('../layouts/footer'); -%>