<%- include('../layouts/header'); -%>

    </head>

    <body>
        <header>
            <h2>Employee Management System</h2>
        </header>
        <%- include('../layouts/navigation'); -%>
            <section>
                <main>
                    <button class="btn">Create Schedule</button>
                    <h1>Schedule</h1>
                </main>
            </section>
            <%- include('../layouts/footer'); -%>