<%- include('layouts/header'); -%>
    <link href="/css/aboutus.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <a href="/userProfile">
                <div class="userIcon">
                    <img src="../../images/user.png" alt="User name Icon">
                    <h4>
                        <%= locals.admin ? admin: "Admin" %>
                    </h4>

                </div>
            </a>
            <h2>Employee Management System</h2>
        </header>
        <main>
            <a href="/" class="button">Go Back To Main Screen</a>
            <section>
                <h3 id="ourteam">TEAM PRT</h3>

                <div class="inline">
                    <div class="section" id="p1">
                        <img src="../../images/renil.jpeg">
                        <h3 class="name">Renil Navadiya</h3><br>
                        <ul>
                            <li>College: Conestoga College - Waterloo Campus</li>
                            <li>Course: Computer Programming</li>
                        </ul>
                    </div>

                    <div class="section" id="p2">
                        <img src="../../images/tara.png">
                        <h3 class="name">Tara Ramnaraine-singh</h3><br>
                        <ul>
                            <li>College: Conestoga College - Waterloo Campus</li>
                            <li>Course: Computer Programming</li>
                        </ul>
                    </div>

                    <div class="section" id="p3">
                        <img src="../../images/parth.png">
                        <h3 class="name">Parth Darji</h3><br>
                        <ul>
                            <li>College: Conestoga College - Waterloo Campus</li>
                            <li>Course: Computer Programming</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="descrption">
                <h2 id="descriptionHeader">Description</h2>
                <div class="description">
                    <p>PRT Management System is a desktop software application that can be used to seamlessly streamline
                        any Small Business Operation and their workflow.
                    </p><br>
                    <p>
                        Our application will help in improving the high efficiency of all departments by eliminating all
                        manual processes in the People`s management module, create visibility in tracking employee
                        attendance by tracking schedules, Over Time, Payroll automation management, integrate with
                        partner Vendors to order stocks using an internal order Module.
                    </p><br>

                    <p>
                        Our Employee Management System is an essential application for managing any Small Business full
                        employee/business life cycle and inventory control life cycle. We can tailor our application to
                        adapt to any Small Business workflow and can use your current system and integrate it with the
                        PRT Employee Management System. We provide the listed modules.
                    </p>
                </div>
            </section>
        </main>

        <%- include('layouts/footer'); -%>