<%- include('layouts/header'); -%>
<%- include('layouts/navigation'); -%>
<section>
    <main>
        <button class="btn"><a href="/addEmployee">Add Employee</a></button>
        <h1>Employee Details</h1>
    </main>
</section>
<%- include('layouts/footer'); -%>