<%- include('layouts/header'); -%>
    <%- include('layouts/navigation'); -%>
        <section>
            <main>
                <a href="/addEmployee">
                    <button class="btn">Add Employee</button>
                </a>
                <h1>Employee Details</h1>
            </main>
        </section>
        <%- include('layouts/footer'); -%>