<%- include('layouts/header'); -%>
</head>

<body>
    <header>
        <h2>Employee Management System</h2>
    </header>
<%- include('layouts/navigation'); -%>
<section>
        <main>
        <button class="btn">Add Item </button>
        <h1>Inventory</h1>    
    </main>
</section>
<%- include('layouts/footer'); -%>