<%- include('layouts/header'); -%>
  <link href="/css/add_editpage.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h2>Employee Management System</h2>
    </header>
    <main>
      <h1 id="generatePaystub">Profile</h1>
      <label class="paystubLable">User Name: </label>
      <input id="yourName" type="text" name="yourName" class="paystubTextboxes" value="<%= name %>" readonly><br />
      <label class="paystubLable">Email-ID: </label>
      <input id="yourEmail" type="email" name="yourEmail" class="paystubTextboxes" value="<%= mailID %>" readonly><br />
      <div class="buttons">
        <a href="/" class="button">Go Back To Main Screen</a>
      </div>
    </main>

    <%- include('layouts/footer'); -%>