<%- include('../layouts/header'); -%>
    <link href="/css/add_editpage.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h2>Employee Management System</h2>
        </header>
        <main>
            <h1 id="generatePaystub">Please enter Employee name and hours</h1>
            <form name="Employee" method="post" class="paystubForm">
                <% var name %>
                    <div class="textboxes">
                        <label class="paystubLable">Employee Name: </label>
                        <input id="name" type="text" name="name" class="paystubTextboxes"><br />

                        <label class="paystubLable">Weekly hours: </label>
                        <input id="weeklyHours" type="number" name="weeklyHours" class="paystubTextboxes"><br />

                        <label class="paystubLable">Email: </label>
                        <input id="email" type="email" name="email" class="paystubTextboxes" value="" readonly><br />

                        <label class="paystubLable">Payrate: </label>
                        <input id="payrate" type="text" name="payrate" class="paystubTextboxes" value="" readonly><br />

                        <label class="paystubLable">Gross Pay: </label>
                        <input id="grossPay" type="text" name="grossPay" class="paystubTextboxes" value="" readonly><br />

                        <label class="paystubLable">Taxes: </label>
                        <input id="taxes" type="text" name="taxes" class="paystubTextboxes" value="" readonly><br />

                        <label class="paystubLable">Take Home: </label>
                        <input id="takeHome" type="text" name="takeHome" class="paystubTextboxes" value="" readonly><br />

                    </div>
                    <div class="buttons">
                        <button class="btnSubmit" id="submit"> Submit </button>

                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/" id="cancel" class="btnCancel">Cancel </a>
                    </div>
            </form>
            <section class="errors">
                <% if(typeof(errors) !='undefined' ){ %>
                    <div style="border-radius: 0 25px 0 25px;">
                        <h4 style="text-decoration: underline;">Errors</h4>
                        <% if(typeof(errors) !='undefined' ){ for(var error of errors){ %>
                            <p style="color:maroon; text-align: left;">
                                * <%= error.msg %>
                            </p>
                            <% } } %>
                    </div>
                    <% } %>
            </section>
        </main>

        <%- include('../layouts/footer'); -%>