<%- include('../layouts/header'); -%>
    <link href="/css/table.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h2>Employee Management System</h2>
            <h5>
                User: <%= locals.admin ? admin: "Admin" %>
            </h5>
        </header>
        <%- include('../layouts/navigation'); -%>
            <main>
                <section>

                    <div class="btn">
                        <a href="/paystub/generatePaystub">
                            <button class="btn">Generate Pay Stub</button>
                        </a>
                    </div>
                    <h1 id="employeeDetails">PayStub</h1>
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Email</th>
                                <th>Payrate</th>
                                <th>Weekly hours</th>
                                <th>Gross Pay</th>
                                <th>Taxes</th>
                                <th>Take Home</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <a href="#" class="link">

                                        <p>Test Purpose</p>
                                    </a>
                                </td>
                                <td>

                                    <p>Test Purpose</p>
                                </td>
                                <td>

                                    <p>Test Purpose</p>
                                </td>
                                <td>

                                    <p>Test Purpose</p>
                                </td>
                                <td>

                                    <p>Test Purpose</p>
                                </td>
                                <td>

                                    <p>Test Purpose</p>
                                </td>
                                <td>

                                    <p>Test Purpose</p>
                                </td>
                                <td>
                                    <div class="buttons">
                                        <a class="deleteButton" href="#">PDF</a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </section>
            </main>
            <%- include('../layouts/footer'); -%>