
body {
  text-transform: uppercase;
  background-color: rgba(195, 195, 216, 0.3);
}

form {
  margin: 1% 0 0 7.5%;
  font-size: 175%;
  width: 40%;
}

#editEmployee {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  /* border: 2px solid gray;
  border-bottom: 4px double gray; */
  padding: 0.5%;
  color: #333;
  background-color: white;
  margin: 2% 35%;
  font-size: 160%;
  border-radius: 0 20px 0 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
}

form {
  position: relative;
  margin: 1% 0 5% 29.5%;
  font-size: 175%;
  width: 40%;
  width: 600px;
  height: 510px;
  padding: 2.5% 0 0 4%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0,0,0,.15);
}

.errors {
  position: relative;
  float: left;
  text-align: center;
  align-items: center;
  top: 40px;
  left: 100px;
  animation: animation 1s;
  /* animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 0 25px 0 25px;
  text-transform: uppercase;
}

@keyframes animation {
  from {
    top: 80px;
    left: 80px;
    width: px;
    font-size: 0;
    text-align: center;
    height: px;
    padding: 2%;
    align-items: center;
    align-content: center;
  }

  to {
    top: 40px;
    left: 100px;
  }
}

.errors p {
  padding: 4.5%;
}

label {
  width: 125px;
  display: inline-block;
  font-size: 18px;
  color: black;
  margin: 0 2% 0 0;
}

.space {
  margin: 0 0 2.5% 0;
  width: 60%;
  height: 33px;
  border-radius: 4px;
  padding: 0.7%;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

#address {
  padding: 4%;
}

/* BUTTON CSS*/
#submit {
  float: left;
}

.buttons {
  display: flex;
  margin: 5% 1%;
}

#cancel {
  float: right;
  margin-left: 15%;
}

a {
  text-decoration: none;
  color: #333;
}

/* BUTTON CANCEL */
.btnCancel {
  width: 180px;
  height: 40px;
  border: 2px solid darkred;
  font-family: "Cinzel", serif;
  font-size: 18px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  border-radius: 3px;
  text-transform: uppercase;
  color: maroon ;
}

.btnCancel::before,
.btnCancel::after {
  position: absolute;
  background: white;
  z-index: -1;
  transition: 1s;
  content: "";
}

.btnCancel::before {
  height: 40px;
  width: 160px;
}

.btnCancel::after {
  width: 180px;
  height: 20px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btnCancel:hover::before {
  width: 0px;
  background: darkred;
}

.btnCancel:hover::after {
  height: 0px;
  background: darkred;
}

.btnCancel:hover {
  background: darkred;
  color: #eee;
}

/* BUTTON SUBMIT */
.btnSubmit {
  width: 180px;
  height: 40px;
  border: 2px solid darkgreen;
  font-family: "Cinzel", serif;
  font-size: 18px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  border-radius: 3px;
  text-transform: uppercase;
  background: white;
  color: darkgreen;
}

.btnSubmit::before,
.btnSubmit::after {
  position: absolute;
  background: white;
  z-index: -1;
  transition: 1s;
  content: "";
}

.btnSubmit::before {
  height: 40px;
  width: 160px;
}

.btnSubmit::after {
  width: 180px;
  height: 20px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btnSubmit:hover::before {
  width: 0px;
  background: darkgreen;
}

.btnSubmit:hover::after {
  height: 0px;
  background: darkgreen;
}

.btnSubmit:hover {
  background: darkgreen;
  color: #eee;
}


