* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#employeeDetails {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  /* border: 2px solid gray;
  border-bottom: 5px double gray; */
  padding: 0.5%;
  color: #333;
  margin: 2% 38% 4% 38%;
  font-size: 160%;
  border-radius: 0 20px 0 20px;
  box-shadow: 0 0 25px rgba(195, 195, 216, 100);
  background-color: white;
  text-transform: uppercase;
}

.content-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 115%;
  /* border: 4px double gray; */
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: auto 2px;
}

.content-table thead tr {
  /* background-color: #009879; */
  background-color: #1c5b97cc;
  /* background-color: #5ca1e1; */
  /* background-color: #5ca1e17e; */
  color: rgb(184, 225, 250);
  text-align: left;
  font-weight: bold;
  /* text-transform: uppercase; */
}

.content-table td {
  padding: 15px 15px 0 15px;
}

.content-table th {
  padding: 20px;
  font-size: 125%;
}

.content-table tbody tr {
  border-bottom: 1px solid black;
}

.content-table tbody tr:nth-of-type(even) {
  /* background-color: rgb(206, 206, 206); */
  background-color: rgba(195, 195, 216, 0.5);
}

.content-table tbody tr:last-of-type {
  border-bottom: 3px solid #1c5b97cc;
}

.buttons {
  display: inline-flex;
  padding-right: 15px;
}

/* .deleteBtn{
    background-color: maroon;
    color: #eee;
    padding: 3% 10%;
    margin-left: 3.5em;
    opacity: 80%;
    border: 1px solid black;
    box-shadow:5px 5px 3px gray ;
} */

/*EDIT BUTTON CSS*/

/* .editBtn{
    background-color: darkgreen;
    border: 1px solid black;
    color: #eee;
    width:205px;
    height: 15px;
    padding: 3% 15%;
    opacity: 80%;
    box-shadow: 5px 5px 3px gray;
    transition: transform .2s; 
} */

.editButton {
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1em;
  border: 1px solid black;
  /* box-shadow: -2px 2px 2px darkgreen; */
  padding-top: 2px;
}

.editButton {
  display: block;
  width: 85px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: 3px solid darkgreen;
  color: black;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  background: transparent;
  text-transform: capitalize;
  transition: all 0.35s;
}

.editButton:before,
.editButton:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: darkgreen;
  z-index: -1;
  transition: all 0.35s;
}

.editButton:before {
  opacity: 0.5;
}

.editButton:after {
  transition-delay: 0.3s;
}

.editButton:hover {
  color: #fff;
}

.editButton:hover:before,
.editButton:hover:after {
  top: 0;
}

/* DELETE BUTTON CSS */
.deleteButton {
  /* left: 50%; */
  transform: translate(-50%, -50%);
  border: 1px solid black;
  /* box-shadow: 2px 2px 2px maroon; */
  padding-top: 2px;
  margin-top: 24.5%;
  left: 41.5%;
}

.deleteButton {
  display: block;
  width: 85px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: 3px solid maroon;
  color: black;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  background: transparent;
  text-transform: capitalize;
  transition: all 0.35s;
}

.deleteButton:before,
.deleteButton:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: maroon;
  z-index: -1;
  transition: all 0.35s;
}

.deleteButton:before {
  opacity: 0.5;
}

.deleteButton:after {
  transition-delay: 0.3s;
}

.deleteButton:hover {
  color: #fff;
}

.deleteButton:hover:before,
.deleteButton:hover:after {
  top: 0;
}
