* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*****************************
CSS FOR EACH & EVERY PAGE BODY
******************************/
body {
  font-family: "Cinzel", serif;
  background-image: url("../../images/background.png");  
  background-repeat: repeat-x;
}

/********************************
CSS FOR EACH & EVERY PAGES' MAIN
*********************************/
main {
  float: left;
  padding: 20px;
  width: 100%;
  background-color: whitesmoke;
  height: 100%;
  text-transform: none;
}

.userIcon img {
  width: 40px;
  height: 40px;
  padding: 2%;
}

.userIcon h4 {
  position: relative;
  color:#063057;
  top: 10px;
}

.userIcon {
  display: inline-flex;
  float: right;
  text-transform: capitalize;
}

/*****************************
CSS FOR EACH & EVERY BUTTON
******************************/
button a {
  text-decoration: none;
}

/**********************************
CSS FOR EACH & EVERY PAGE'S HEADER
***********************************/
header {
  background-color: whitesmoke;
  padding: 15px;
  width: 100%;
  color: #063057;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  background-image: none;
}

/*******************************
CSS FOR EVERY PAGE'S ANIMATION
********************************/
@keyframes animation {
  from {
    font-size: 0;
    margin: -10% 28% 30% 28%;
    opacity: .1;
    border: none;
  }

  to {
    margin: 2% 28%;
  }
}

/*******************
CSS FOR EACH HEADER
********************/
header h2 {
  background-image: url("../../images/image3.png");
  background-size: cover;
  background-position: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-top: 4px double #052441;
  border-bottom: 4px double #052441;
  box-shadow: 2px 2px 10px 0 rgba(51, 51, 51, 0.2);
  margin: 2% 28%;
  font-size: 168%;
  border-radius: 13px;
  padding: 7.5px 0;
  background-color: rgba(195, 195, 216, 0.3);
  animation: animation 0.7s;
}

/*****************************
Clear floats after the columns
******************************/
section::after {
  content: "";
  display: table;
  clear: both;
}

/********************************
CSS FOR THE FOOTER FOR EACH PAGE
*********************************/
footer {
  background-color: #1c5b97cc;
  padding: 20px;
  text-align: center;
  align-items: center;
  color: rgb(184, 225, 250);
  margin-bottom: 1%;
  opacity: .7;
  border-radius: 5px;
  clear: both;
}

/************************************************
Responsive layout - makes the two columns/boxes
stack on top of each other instead of next to 
each other, on small screens 
*************************************************/
@media (max-width: 600px) {
  nav ul li a {
    padding: 20px;
  }

  header h2 {
    margin: 0 15%;
  }
}

@media (max-width: 1000px) {
  nav ul li a {
    padding: 20px;
  }

  header h2 {
    margin: 0 15%;
  }
}

a {
  text-decoration: none;
  color: #333;
}

/*************************************
CSS FOR THE ADD BUTTON FOR EACH PAGE
*************************************/
.btn {
  box-shadow: 2px 2px 10px 0 rgba(51, 51, 51, 0.1);
  width: 220px;
  height: 50px;
  border: 2px solid #333;
  font-family: "Cinzel", serif;
  font-size: 18px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: whitesmoke;
}

.btn::before,
.btn::after {
  position: absolute;
  background: whitesmoke;
  z-index: -1;
  transition: 1s;
  content: "";
}

.btn::before {
  height: 50px;
  width: 190px;
}

.btn::after {
  width: 220px;
  height: 20px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover::before {
  width: 0px;
  background: whitesmoke;
}

.btn:hover::after {
  height: 0px;
  background: whitesmoke;
}

.btn:hover {
  background: whitesmoke;
}